<!-- Menu Navigation Bar -->
<nav class="navbar navbar-light bg-light"> 
  <a class="navbar-brand" href="#">HASSAN TOURS</a>
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>

<!-- Overlay that closes the sidebar when clicked -->
<div class="overlay" [ngClass]="{'active': isMenuOpen}" (click)="toggleMenu()"></div>

<!-- Sliding Sidebar Menu -->
<div class="sidebar" [ngClass]="{'active': isMenuOpen}">
  <ul class="list-unstyled">
    <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/tour-packages" (click)="toggleMenu()">Tour Packages</a></li>
    <li><a routerLink="/booking" (click)="toggleMenu()">Booking</a></li>
    <li><a routerLink="/gallery" (click)="toggleMenu()">Gallery</a></li>
  </ul>
</div>

  
  <!-- Photo Gallery Section -->
  <div class="container my-5">
    <h2 class="text-center mb-4">Photo Gallery</h2>
  
    <!-- Gallery Grid -->
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let destination of destinations">
        <div class="card h-100 shadow-sm">
          <img
            src="{{ destination.coverImage }}"
            class="card-img-top"
            alt="{{ destination.name }}"
            (click)="openGallery(destination)"
          />
          <div class="card-body">
            <h5 class="card-title">{{ destination.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal for Image Gallery -->
    <div
      class="modal fade"
      id="galleryModal"
      tabindex="-1"
      aria-labelledby="galleryModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="galleryModalLabel">
              {{ selectedDestination?.name }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 mb-3" *ngFor="let image of selectedDestination?.images">
                <img
                  src="{{ image }}"
                  class="img-fluid"
                  alt="Gallery Image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer Section -->
  <footer class="bg-light text-center text-lg-start mt-4">
    <div class="container p-4">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>
          <p>
            Welcome to our tourism site! We offer a variety of amazing tour packages to help you explore beautiful destinations around the world. Book your next adventure with us!
          </p>
        </div>
  
        <!-- Links Section -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Useful Links</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-dark">Home</a></li>
            <li><a href="#" class="text-dark">Tour Packages</a></li>
            <li><a href="#" class="text-dark">Booking</a></li>
            <li><a href="#" class="text-dark">Gallery</a></li>
          </ul>
        </div>
  
        <!-- Contact Section -->
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Phone: {{ contactInfo.Phone }}</li>
            <li>Email: {{ contactInfo.Email }}</li>
            <li>Address: Forodhani, Zanzibar City, Tanzania</li>
          </ul>
        </div>
        
      </div>
    </div>
  
    <div class="text-center p-3 bg-dark text-white">
      &copy; 2024 hassantours. All rights reserved.
    </div>
  </footer>
  
  